- header_content 'shared/header_wrapper', :object => @theme_collection do
  = can_destroy? @theme_collection

- inner_content "shared/inner_wrapper" do
  %div.breadcrumb
    = link_to "&laquo; #{@theme_collection.name.titleize} Collection".html_safe, [:admin, @theme_collection]

  = render :partial => "form", :locals => { :button_label => "Update Theme Collection" }
