- header_content 'shared/header_wrapper', :object => @theme_collection 

- inner_content "shared/inner_wrapper" do
  = render :partial => "form", :locals => { :button_label => "Save Theme Collection" }
