- header_content 'shared/header_wrapper', :object => @theme_collection, :show => true do

  = render :partial => 'admin/theme_collections/submenu'
                
- inner_content "shared/inner_wrapper" do
  %div.breadcrumb
    = link_to "&laquo Theme Collections".html_safe, [:admin, :theme_collections]

  %div{ :id => "collection_#{@theme_collection.name}" }
    %ul{ :id => 'assets', :class => 'show_asset_collection' }
      = add_assets?
