#advanced_options{:class => "foldable"}
  %fieldset 
    %legend Advanced Options
    %fieldset
      = f.label :slug, "Path Name"
      = f.text_field :slug
    %fieldset
      = f.label :breadcrumb, "Breadcrumb"
      = f.text_field :breadcrumb
