%li#submit_fields
  %fieldset
    = f.submit button_label, :class => "submit"
    = f.submit "Save and Continue Editing", :class => "submit"
    = link_to "Cancel", [:admin, :pages], :class => "cancel"
