#page_meta_data{:class => "foldable"}
  %fieldset
    %legend Page Meta Data
    = f.fields_for :meta_data, hash_to_open_struct(@page.meta_data) do |os|
      - os.object.marshal_dump.each_key do |key|
        %fieldset 
          = os.label key
          = os.text_field key

