#page_meta_tags{:class => "foldable"}
  %fieldset
    %legend Page Meta Tags<span class="fold_arrow rotate"></span>
    %ul.form_fields
      = f.fields_for :meta_tag do |builder|
        %li{:class => 'inline meta_tag'}  
          = builder.text_field :title, :value => @page.meta_tag["title"]
      %li#add_meta_tag
        - if @page.new_record?
          %p
            %i Save page first to add custom meta tags
        - else
          = link_to "Add Meta Tag", [:new, :admin, @page, :meta_tag], :remote => :true
