%ul#page_parts_nav
  - @page.page_parts.each do |page_part|
    = page_part_selected(page_part)
  %li.delete_page_part
    %span.menu_separator &#124;
    = delete_page_part
  %li.add_page_part
    = add_page_part
