%li#page_parts_fields
  = foldable_fieldset 'Page Parts', :class => 'page_parts' do
    %div#page_parts_wrapper
      = render :partial => 'page_parts_nav'
      %div.spinner_wrapper
        = image_tag 'ajax-loader.gif', :class => 'spinner hidden'
      %div#page_parts_content_wrapper
        = render :partial => 'page_part_fields', :locals => { :f => f }
