- header_content 'shared/header_wrapper', :object => @page do
  = can_destroy? @page

- inner_content "shared/inner_wrapper" do
  %div.breadcrumb
    = link_to "&laquo; Pages".html_safe, [:admin, :pages]

  = render :partial => "form", :locals => { :button_label => "Update Page"}
