#content_header_wrapper
  %h2 Edit Page <b>#{@page.title.humanize}</b>

  = can_destroy? @page

- inner_content "shared/inner_wrapper" do
  = render :partial => "form", :locals => { :button_label => "Update Page"}
