#content_header_wrapper
  %h2 Pages 

  %div{:id => "new_page", :class => "create"}
    = link_to "New Page", [:new, :admin, :page], :class => "action"

#content_inner_wrapper
  = render :partial => "shared/flash_notice"

  - if @pages.empty?
    %div.add_some
      %h4= link_to "Add A Home Page", [:new, :admin, :page]
  - else 
    #pages_list
      = tree_ul(@pages) { |page| link_to page.title, [:edit, :admin, page] }
