- header_content 'shared/header_wrapper', :object => :Page do
  = can_create? Page

- inner_content "shared/inner_wrapper" do

  - if @pages.empty?
    %div.add_some
      %h4= link_to "Add A Home Page", [:new, :admin, :page]
  - else 
    #pages_list
      = tree_ul(@pages) { |page| link_to page.title, [:edit, :admin, page] }
