- header_content 'shared/header_wrapper', :object => :Page do
  = can_create? Page

- inner_content "shared/inner_wrapper" do

  - if @pages.empty?
    = render :partial => 'add_a_page'
  - else 
    #pages_list
      = mongoid_tree_ul(@pages)
