#page_list_heading
  %h2 Page Listing
  %ul#new_layout
    %li= link_to "Add New Pages", new_admin_page_path

#pages_list
  = tree_ul(@pages) { |page| link_to page.title, edit_admin_page_path(page) }

