- header_content 'shared/header_wrapper', :object => @page, :class_name => 'new_page'

- inner_content "shared/inner_wrapper" do
  %div.breadcrumb
    = link_to "&laquo; Pages".html_safe, [:admin, :pages]

  = render :partial => "form", :locals => { :button_label => "Create Page"}
