/* clear all browser rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height:  1;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	font: 13px/18px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	color: #222;
	padding: 0; 
	margin: 0; 
	text-align: left;
	background: #FFF; 
}                     

a:link, a:visited {
  color: #222; 
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
} 

a:hover, a:focus {
  color: #8B999A; 
  text-decoration: none;
}    

p {
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
  color: #222;
  margin-bottom: 10px; 
  text-align: left;
}  

textarea {
  border: 1px solid #222;
  margin: 20px;
}        

div#wrapper {
  width: 100%;
  overflow: visible;
  background: #FFF;
}

div#header {       
  width: 100%;
  background:#FFF;
  overflow: auto;
}            

div#site-links {
  float: left; 
  margin-top: 10px;
} 

/* menu */
div#sitenav {
  float: left; 
  margin-top: 20px; 
  height: 54px;
  width: 100%; 
}   

div#sitenav ul {   
  margin-left: 0;
  list-style: none;  
  position: relative;
} 

div#sitenav ul li {
  float: left;   
  display: block;
  margin-left: 5px; 
} 

div#sitenav ul li:first-child {
  margin-left: 10px;
}   

div#sitenav ul li a {
  display: block;  
  font-size: 18px;
  line-height: 18px;
  padding: 5px 20px;
  color: #222;   
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
  background: #CCC;     
} 
    
div#sitenav li ul {
  display: none;
  position: absolute;
  top: 28px;
  height: 26px;
  left: 0; 
  width: 100%;  
  background: #CCC;
}        

body.design div#sitenav li#design a,
body.settings div#sitenav li#settings a {
  background: #E16017;  
}

body.design div#sitenav li#design ul,
body.settings div#sitenav li#settings ul {
  display: block; 
  background: #E16017;
}               

div#sitenav li ul a, div#sitenav li ul a {
  float: left; 
  display: block;
  color: #222; 
  font-size: 16px;
  line-height: 16px;
  width: auto;     
  border: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0; 
  border-radius: 0;
}             

div#sitenav li.on ul {
  display: block;     
}               

div#sitenav li:hover ul {
  display: block;   
  z-index: 1000;    
  background: #E0E4CC;
}              

div#sitenav li a:hover, div#sitenav li:hover a {
  color: #222;
  border: 0;
  background: #E0E4CC;
}  

div#sitenav li ul li a:hover, div#sitenav li ul li:hover a {  
  border: 0;
  color: #F38630;
}

div#content {      
  background: #FFF; 
  min-height: 500px;
}