- header_content 'shared/header_wrapper', :object => @author do
  = can_destroy? @author

- inner_content 'shared/inner_wrapper' do
  %div.breadcrumb
    = link_to "&laquo; Authors".html_safe, [:admin, :authors]

  = render :partial => 'form',  
           :locals => { :button_label => 'Update Author' }
