#content_header_wrapper
  %h2 Editing Meta Tag <b>#{@meta_tag.name}</b>

  - if can?(:destroy, @meta_tag) && !@meta_tag.new_record?
    %div{:id => "delete_meta_tag", :class => "delete"}
      = link_to "Delete Meta Tag", [:admin, @page, @meta_tag], :confirm => "Are you sure you want to delete the meta tag #{@meta_tag.name}", :method => :delete, :class => "action delete"

- inner_content "shared/inner_wrapper" do
  = render :partial => "form",  
           :locals => { :button_label => "Update Meta Tag" }
