- header_content 'shared/header_wrapper', :object => @meta_tag do
  = can_destroy? @meta_tag

- inner_content "shared/inner_wrapper" do
  = render :partial => "form",  
           :locals => { :button_label => "Update Meta Tag" }
