%tr{:class => "#{cycle('even', 'odd')}"}
  %td.name= link_to article_collection.name, [:admin, article_collection]
  - if can? :destroy, article_collection
    %td.delete= link_to "Delete", [:admin, article_collection], :method => :delete, :confirm => "Are you sure you want to delete the article collection #{article_collection.name}?", :class => "delete"
 
