- header_content 'shared/header_wrapper', :object => @article_collection do
  = can_destroy? @article_collection

- inner_content "shared/inner_wrapper" do
  = render :partial => "form", :locals => { :button_label => "Update Article Collection"}
