- header_content 'shared/header_wrapper', :object => :ArticleCollection do
  = can_create? ArticleCollection

- inner_content "shared/inner_wrapper" do

  .article_collection_pag
    = list_objects @article_collections, :message => 'Add An Article Collection', :link => :article_collection 
