- header_content 'shared/header_wrapper', :object => @asset_collection do
  = can_destroy? @asset_collection

- inner_content "shared/inner_wrapper" do
  = render :partial => "form", :locals => { :button_label => "Update Collection" }
