- header_content 'shared/header_wrapper', :object => @asset_collection do

- inner_content "shared/inner_wrapper" do
  = render :partial => "form", :locals => { :asset_collection => @asset_collection, :button_label => "Save Collection" }
