- header_content 'shared/header_wrapper', :object => @asset_collection, :show => true do

  = render :partial => 'admin/asset_collections/submenu'
                
- inner_content "shared/inner_wrapper" do
  
  %div{ :id => "collection_#{@asset_collection.name}" }
    %ul{ :id => 'assets', :class => 'show_asset_collection' }
      = render :partial => 'admin/asset_collections/site_asset', :collection => @asset_collection.site_assets
