.DS_Store
.bundle
capistrano/*
.sass-cache/*
.rbenv-version
*.swp
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
tags
public/site_assets/*
public/uploads
public/theme_assets/**/*
public/authors/**/*
public/cached
public/assets
spec/tmp/**/*
config/mongoid_production.yml
config/deploy.rb
config/unicorn.conf
lib/moustache_cms/mustache/custom_tags.rb
db/seeds_old.rb
lib/moustache_cms/mustache/custom_templates/nav_for_faculty.haml
