/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
//
// CSS Set by Kevin Papst - http://www.kevinpapst.de/
// ------------------------------------------------------------------*/
.css .class a {
	background-image:url(images/tag.png);
}
.css .bold a {
	background-image:url(images/bold.png);
}
.css .italic a {
	background-image:url(images/italic.png);
}
.css .stroke a {
	background-image:url(images/stroke.png);
}
.css .lowercase a {
	background-image:url(images/text_lowercase.png); 
}
.css .uppercase a {
	background-image:url(images/text_uppercase.png); 
}

.html .alignments a {
	background-image:url(images/text_align_left.png); 
}
	.html .alignments .left a {
		background-image:url(images/text_align_left.png); 
	}
	.html .alignments .center a {
		background-image:url(images/text_align_center.png); 
	}
	.html .alignments .right a {
		background-image:url(images/text_align_center.png); 
	}
	.html .alignments .justify a {
		background-image:url(images/text_align_justify.png); 
	}

.html .indent a {
	background-image:url(images/text_indent.png); 
}
.html .letterspacing a {
	background-image:url(images/text_letterspacing.png); 
}
.html .lineheight a {
	background-image:url(images/text_linespacing.png); 
}

.html .padding a {
	background-image:url(images/text_padding_left.png); 
}
	.html .padding .left a {
		background-image:url(images/text_padding_left.png);  
	}
	.html .padding .top a {
		background-image:url(images/text_padding_top.png);  
	}
	.html .padding .right a {
		background-image:url(images/text_padding_right.png);  
	}
	.html .padding .bottom a {
		background-image:url(images/text_padding_bottom.png); 
	}
.html .background a {
	background-image:url(images/picture.png); 
}
.html .css a {
	background-image:url(images/css.png); 
}
