= form_for([:admin, @user], :html => {:class => "site_prop", :autocomplete => :off}) do |f|
  = render :partial => "shared/error_messages",  
           :locals => { :target => @user }
  = render :partial => 'form_general_fields', :locals => { :f => f, :button_label => button_label }
