%li#author_fields
  = foldable_fieldset 'Authors' do
    %div.fields_wrap
      %ol
        %li{class: 'inline'}
          - if @article.authors
            = f.label :author
            = f.collection_select :author_ids, Author.all_from_current_site(@current_site).order_by(:firstname.asc), :id, :full_name, {include_blank: true}
