%table{:class => "info articles", :class => "articles info #{cycle('even', 'odd')}"}
  %tr
    %th Title
    %th Last Updated At 
    %th Last Updated By
    %th Status
    %th Delete Article
  = render @articles
