- header_content 'shared/header_wrapper', :object => :Article do
  = render :partial => 'admin/articles/submenu'

- inner_content "shared/inner_wrapper" do
  = list_objects @articles, :message => 'Add An Article', :collection => @article_collection, :link => :article
