- header_content 'shared/header_wrapper', :title => "Aritcles in the Collection #{@article_collection.name.titleize}", :object => :Article  do
  = render :partial => 'admin/articles/submenu'

- inner_content "shared/inner_wrapper" do
  %div.breadcrumb
    = link_to "&laquo; Site Article Collections".html_safe, [:admin, :article_collections]

  = list_objects @articles, :message => 'Add An Article', :collection => @article_collection, :link => :article
