
/* colors */
$background_color: #2B2C34;
$admin_nav_background: #40414F;

/* text */
$dark_text: #222;
$light_text: #FFF;
$hover_text: #8B999A;
$base_text: 13px/18px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
/* end text */

@mixin light_text_links($size: 13px, $line_height: 13px) {
  a {
    font-size: $size;
    line-height: $line_height;
  }
  a:link, a:visited {
    color: $light_text;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  a:hover, a:focus {
    color: #8B999A; 
    text-decoration: none;
    backgound: #FFF;
  }
}


body {
	font: $base_text;
	color: $light_text;
	padding: 0; 
	margin: 0; 
	text-align: left;
	background: $background_color; 
}

h1 {
  font: 18px/24px "Liberation Sans", Arial, Helvetica, sans-serif;
  color: $light_text; 
}

/* layout */
#wrapper {
  @include container;
  background-color: #FFF;
}

#header {
  @include column(24);
  margin-right: 0;
  padding: 20px 0;
  background: $background_color;
  h1 {
    padding-left: 10px;
    @include light_text_links(18px, 24px);
  }
}

#nav_wrapper {
  @include column(24);
  background: $background_color;
  margin-right: 0;
}

div#admin_nav { 
  ul {
    position: relative;
    display: block;
    list-type: none;
    li {
      display: inline;
      margin: 0;
      padding: 0;
      a:link, a:visited {
        float: left;
        font-size: 14px;
        line-height: 14px;
        padding: 4px 10px;
        margin-right: 8px;
        text-decoration: none;
        color: $light_text;
        text-decoration: none;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
        background: $admin_nav_background;
      }
      a:hover, a:focus {
        color: $hover_text; 
        text-decoration: none;
        background: $admin_nav_background;
      }
      ul {
        display: none;
      }
    }
  }
}

body#layout div#admin_nav li#site_layout ul {
  display: block;
  width: 100%;
  position: absolute;
  top: 22px;
  left: 0px;
  margin: 0;
  background: $admin_nav_background;
  a:link, a:visited {
    margin: 0;
  }
  a:hover, a:focus {
    margin: 0;
  }
}


#content {
  @include column(24);
  margin-right: 0; 
}


#footer {
  @include column(24); 
  margin-right: 0;
}


