- header_content 'shared/header_wrapper', :object => @current_site, :title => "Domains" do
  = ''

- inner_content "shared/inner_wrapper" do
  = render :partial => "form", :locals => { :button_label => "Create Domain Name" }
