@import "reset";
@import "mixin_links";

/*layout colors */
$body_bg: #F9F8F3;
$header_bg: #2c2b2b;
$content_bg: #F9F8F3;
$sidebar_bg: #BEBEBE;
$sidebar_border: #A8A8A8;
$sidebar_heading: #FB5000;
$content_table_heading: #d5d4d4;
$zebra_even: #F9F8F3;
$zebra_odd: #EAEAEA;


/* text */
$dark_text: #222;
$light_text: #FFF;
$base_text: normal 100% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
$heading_font: "proxima-nova-extra-condensed-1", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;

/* link text */
$link_text: #d54e0e;
$hover_text: #9b3c0e;
$nav_text: #FB5000;

$body_min_height: 1000px;


body {
  font: $base_text;
  color: $dark_text;
  padding: 0;
  margin: 0;
  text-align: left;
  background: $body_bg url("/images/body_bg.png") no-repeat left top;
}

a:link, a:visited {
  color: $link_text; 
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
} 

a:hover, a:focus {
  color: $hover_text; 
  text-decoration: underline;
}  

  /*
    960px for total page width
    816px for content area
    12 column grid with 60px wide columns and 8px padding
    admin_nav column = 204px
    content column = 612px
  */
h1 {
  font: normal 1.5em / 1 $heading_font; /* 24px / 16px */
  font-variant:small-caps;
  color: $dark_text;
}

h2 {
  font-variant:small-caps;
  font: normal 1.125em / 1.25 $heading_font; /* 18px / 16px */
  color: $dark_text;
}

h3 {
  font: normal 1.125em / 1.25 $heading_font; /* 18px / 16px */
  color: $dark_text;
}

a:link.action, a:visited.action {
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 2px 10px;
  border: 1px solid rgba(92, 92, 92, 0.5);
  background-color: rgba(92, 92, 92, 0.3); 
}

a:hover.action, a:focus.action {
  text-decoration: none;
}

#wrapper {
  margin: 0 auto;
  width: 85%; /* 960px * 0.85 = 816px */
}


#header {
  width: 100%;
  background: $header_bg;
  height: 40px;
  h1 {
    float: left;
    margin-left: 4px;
    @include light_text_links(1.25em, 1.5em); /* 20/16=1.25  24/16=1.5 */
    letter-spacing: .15em;
  }
}

div#welcome {
  float: right;
  padding-right: 8px;
  padding-top: 1.25em;
  ul {
    list-style: none;
    display: inline;
    li {
      color: $light_text;
      font-size: 0.75em; /* 12px / 16px */ 
      line-height: 1;
      text-decoration: none;
      display: inline;
    }      
  }
}

#main {
  min-height: $body_min_height;
  width: 100%;
  //border-radius: 5px;
  background: $content_bg;
  overflow: hidden;
}


div#admin_nav {
  float: left;
  width: 23.0392157%; /* 188 / 816 */
  margin-top: 1em;
  margin-right: 16px; /* width of 204px with margin */
  ul {
    padding-right: 0px;
    text-align: left;
    list-style: none;
    li {
      padding-left: 8px;
      border-top: 1px solid $sidebar_border;
      a:link, a:visited {
        font-size: 1em; /* 14px / 16px */
        line-height: 1.75em; /* 28px / 16px */
        text-decoration: none;
        color: $nav_text;
      }
			a:hover, a:focus {
			  color: $hover_text; 
			  text-decoration: none;
			}
    }
    li:first-child {
      border-top: 0;
      border-bottom: 1px solid $sidebar_border; 
      padding: 4px;
      margin-bottom: 2px;
      text-transform: uppercase;
      color: $dark_text;
    }
    li:last-child {
      border-bottom: 1px solid $sidebar_border; 
    }
    li.selected {
      color: $dark_text;
      background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgba(92, 92, 92, 0.4)), to(rgba(190, 190, 190, 0.1)));
      a:link, a:visited {
        color: $dark_text;
      }
    }
  }
}

div#content {
  min-height: $body_min_height; 
  float: left;
  width: 73.0392157%; /* 596 / 816 */
  margin: 1em 0; 
  padding-left: 16px;
  background: $content_bg url("/images/content_bg.png") repeat-y 0 0; 
}

div#content_header_wrapper {
  border-bottom: 1px solid $sidebar_border;
  padding: 4px 0;
  overflow: auto;
  h2 {
    float: left;
    text-transform: capitalize;
  }
  div.add_new {
    font-size: 0.875em; /* 14px / 16px */
    float: right;
  }
}

div#content_inner_wrapper {
  margin-top: 2px;
  border-top: 1px solid $sidebar_border;
  padding-top: 16px;
  //padding-left: 8px;
  ul {
    list-style: none;
    li {
    }
  }
}

.odd {
  background: $zebra_odd;
}

.even {
  background: $zebra_even;
}

table.users {
  width: 80%;
  border-collapse:collapse;
  font-size: 0.875em;
  th {
    text-align: center;
    padding: 4px 0; 
    border-right: 1px solid $body_bg;
    background: $content_table_heading;
  } 
  th:first-child {
    padding-left: 4px;
  }
  th:last-child {
    border-right: 0;
    background: $body_bg;
  }
  td {
    text-align: center;
    padding: 8px 0; 
  }
  .name {
    padding-left: 8px;
    text-align: left;
    width: 35%;
  }
  .puid {
    text-align: center;
    width: 27%;
  }
  .role {
    width: 22%
  }
  .delete {
    width: 16%
  }
}


div#footer {
  height: 60px;
  background: $hover_text;
}
