@import "reset";
@import "mixin_links";

/*layout colors */
$body_bg: #2B2C34;
$content_bg: #F9F8F3;
$sidebar_bg: #BEBEBE;
$sidebar_border: #A8A8A8;
$sidebar_heading: #5C5C5C;



/* text */
$dark_text: #222;
$light_text: #FFF;
$hover_text: #FB5000;
$base_text: normal 100% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
$heading_font: "Liberation Sans", Arial, Helvetica, sans-serif;


/* end text */

body {
  font: $base_text;
  color: $dark_text;
  padding: 0;
  margin: 0;
  text-align: left;
  background: $body_bg;
}

  /*
    960px for total page width
    816px for content area
    12 column grid with 60px wide columns and 8px padding
    admin_nav column = 204px
    content column = 612px
  */
#wrapper {
  margin: 36px auto;
  width: 85%; /* 960px * 0.85 = 816px */
}


h1 {
  font: $heading_font;
  font-size: 1.5em; /* 24px / 16px */
  font-weight: normal;
  color: $light_text;
}

h2 {
  font: $heading_font;
  font-size: 1.125em; /* 18px / 16px */
  font-weight: normal;
  color: $dark_text;
}

#header {
  width: 100%;
  background: $body_bg;
  h1 {
    margin-left: 4px;
    @include light_text_links(1.25em, 1.5em); /* 20/16=1.25  24/16=1.5 */
    letter-spacing: .15em;
  }
}


#main {
  min-height: 1000px;
  width: 100%;
  border-radius: 5px;
  background: $content_bg url("/images/content_bg.png") repeat-y 24.5098039% 0; /* 200 / 816 */
}

div#admin_nav {
  float: left;
  width: 24.5098039%; /* 200px / 816px */
  margin-right: 4px;
  ul {
    padding: 1.75em 4px 0 8px;
    text-align: left;
    list-style: none;
    li {
      padding-left: 8px;
      border-top: 1px solid $sidebar_border;
      a:link, a:visited {
        font-size: 1em; /* 14px / 16px */
        line-height: 1.75em; /* 28px / 16px */
        text-decoration: none;
        color: $light_text;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
      }
			a:hover, a:focus {
			  color: $hover_text; 
			  text-decoration: none;
			}
    }
    li:first-child {
      border-top: 0;
      color: $light_text;
      padding: 4px;
      background: $sidebar_heading;
    }
    li:last-child {
      border-bottom: 1px solid $sidebar_border; 
    }
    li.selected {
      color: $dark_text;
      background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgba(92, 92, 92, 1)), to(rgba(190, 190, 190, 1)));
      a:link, a:visited {
        color: $dark_text;
      }
    }
  }
}

div#content {
  float: left;
  width: 74.5098039%; /* 608px / 816px */
  margin-left: 4px;
}

