/* clear all browser rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  vertical-align: baseline; }

/*layout colors */
/* text */
/* link text */
body {
  font: normal 100% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
  color: #222222;
  padding: 0;
  margin: 0;
  text-align: left;
  background: #f9f8f3 url("/images/body_bg.png") no-repeat left top; }

a:link, a:visited {
  color: #d54e0e;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }

a:hover, a:focus {
  color: #9b3c0e;
  text-decoration: underline; }

/*
  960px for total page width
  816px for content area
  12 column grid with 60px wide columns and 8px padding
  admin_nav column = 204px
  content column = 612px
*/
h1 {
  font: normal 1.5em/1 "proxima-nova-extra-condensed-1", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
  /* 24px / 16px */
  font-variant: small-caps;
  color: #222222; }

h2 {
  font-variant: small-caps;
  font: normal 1.125em/1.25 "proxima-nova-extra-condensed-1", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
  /* 18px / 16px */
  color: #222222; }

h3 {
  font: normal 1.125em/1.25 "proxima-nova-extra-condensed-1", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
  /* 18px / 16px */
  color: #222222; }

a:link.action, a:visited.action {
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -o-border-radius: 14px;
  padding: 2px 10px;
  border: 1px solid rgba(92, 92, 92, 0.5);
  background-color: rgba(92, 92, 92, 0.3); }

a:hover.action, a:focus.action {
  text-decoration: none; }

#wrapper {
  margin: 0 auto;
  width: 85%;
  /* 960px * 0.85 = 816px */ }

#header {
  width: 100%;
  background: #2c2b2b;
  height: 40px; }
  #header h1 {
    float: left;
    margin-left: 4px;
    /* 20/16=1.25  24/16=1.5 */
    letter-spacing: .15em; }
    #header h1 a {
      font-size: 1.25em;
      line-height: 1.5em; }
    #header h1 a:link, #header h1 a:visited {
      color: white;
      text-decoration: none;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease; }
    #header h1 a:hover, #header h1 a:focus {
      color: #8B999A;
      text-decoration: none;
      backgound: #FFF; }

div#welcome {
  float: right;
  padding-right: 8px;
  padding-top: 1.25em; }
  div#welcome ul {
    list-style: none;
    display: inline; }
    div#welcome ul li {
      color: white;
      font-size: 0.75em;
      /* 12px / 16px */
      line-height: 1;
      text-decoration: none;
      display: inline; }

#main {
  min-height: 1000px;
  width: 100%;
  background: #f9f8f3;
  overflow: hidden; }

div#admin_nav {
  float: left;
  width: 23.0392157%;
  /* 188 / 816 */
  margin-top: 1em;
  margin-right: 16px;
  /* width of 204px with margin */ }
  div#admin_nav ul {
    padding-right: 0px;
    text-align: left;
    list-style: none; }
    div#admin_nav ul li {
      padding-left: 8px;
      border-top: 1px solid #a8a8a8; }
      div#admin_nav ul li a:link, div#admin_nav ul li a:visited {
        font-size: 1em;
        /* 14px / 16px */
        line-height: 1.75em;
        /* 28px / 16px */
        text-decoration: none;
        color: #fb5000; }
      div#admin_nav ul li a:hover, div#admin_nav ul li a:focus {
        color: #9b3c0e;
        text-decoration: none; }
    div#admin_nav ul li:first-child {
      border-top: 0;
      border-bottom: 1px solid #a8a8a8;
      padding: 4px;
      margin-bottom: 2px;
      text-transform: uppercase;
      color: #222222; }
    div#admin_nav ul li:last-child {
      border-bottom: 1px solid #a8a8a8; }
    div#admin_nav ul li.selected {
      color: #222222;
      background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgba(92, 92, 92, 0.4)), to(rgba(190, 190, 190, 0.1))); }
      div#admin_nav ul li.selected a:link, div#admin_nav ul li.selected a:visited {
        color: #222222; }

div#content {
  min-height: 1000px;
  float: left;
  width: 73.0392157%;
  /* 596 / 816 */
  margin: 1em 0;
  padding-left: 16px;
  background: #f9f8f3 url("/images/content_bg.png") repeat-y 0 0; }

div#content_header_wrapper {
  border-bottom: 1px solid #a8a8a8;
  padding: 4px 0;
  overflow: auto; }
  div#content_header_wrapper h2 {
    float: left;
    text-transform: capitalize; }
  div#content_header_wrapper div.add_new {
    font-size: 0.875em;
    /* 14px / 16px */
    float: right; }

div#content_inner_wrapper {
  margin-top: 2px;
  border-top: 1px solid #a8a8a8;
  padding-top: 16px; }
  div#content_inner_wrapper ul {
    list-style: none; }

.odd {
  background: #eaeaea; }

.even {
  background: #f9f8f3; }

table.users {
  width: 80%;
  border-collapse: collapse;
  font-size: 0.875em; }
  table.users th {
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #f9f8f3;
    background: #d5d4d4; }
  table.users th:first-child {
    padding-left: 4px; }
  table.users th:last-child {
    border-right: 0;
    background: #f9f8f3; }
  table.users td {
    text-align: center;
    padding: 8px 0; }
  table.users .name {
    padding-left: 8px;
    text-align: left;
    width: 35%; }
  table.users .puid {
    text-align: center;
    width: 27%; }
  table.users .role {
    width: 22%; }
  table.users .delete {
    width: 16%; }

div#footer {
  height: 60px;
  background: #9b3c0e; }
