/* clear all browser rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  vertical-align: baseline; }

/*layout colors */
/* text */
/* end text */
body {
  font: normal 100% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
  color: #222222;
  padding: 0;
  margin: 0;
  text-align: left;
  background: #2b2c34; }

/*
  960px for total page width
  816px for content area
  12 column grid with 60px wide columns and 8px padding
  admin_nav column = 204px
  content column = 612px
*/
#wrapper {
  margin: 36px auto;
  width: 85%;
  /* 960px * 0.85 = 816px */ }

h1 {
  font: "Liberation Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  /* 24px / 16px */
  font-weight: normal;
  color: white; }

h2 {
  font: "Liberation Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  /* 18px / 16px */
  font-weight: normal;
  color: #222222; }

#header {
  width: 100%;
  background: #2b2c34; }
  #header h1 {
    margin-left: 4px;
    /* 20/16=1.25  24/16=1.5 */
    letter-spacing: .15em; }
    #header h1 a {
      font-size: 1.25em;
      line-height: 1.5em; }
    #header h1 a:link, #header h1 a:visited {
      color: white;
      text-decoration: none;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease; }
    #header h1 a:hover, #header h1 a:focus {
      color: #8B999A;
      text-decoration: none;
      backgound: #FFF; }

#main {
  min-height: 1000px;
  width: 100%;
  border-radius: 5px;
  background: #f9f8f3 url("/images/content_bg.png") repeat-y 24.51% 0;
  /* 200 / 816 */ }

div#admin_nav {
  float: left;
  width: 24.5098039%;
  /* 200px / 816px */
  margin-right: 4px; }
  div#admin_nav ul {
    padding: 8px 4px 0 8px;
    text-align: left;
    list-style: none; }
    div#admin_nav ul li {
      border-top: 1px solid #a8a8a8; }
      div#admin_nav ul li a:link, div#admin_nav ul li a:visited {
        font-size: 1em;
        /* 14px / 16px */
        line-height: 1.75em;
        /* 28px / 16px */
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease; }
      div#admin_nav ul li a:hover, div#admin_nav ul li a:focus {
        color: #fb5000;
        text-decoration: none; }
    div#admin_nav ul li:last-child {
      border-bottom: 1px solid #a8a8a8; }

div#content {
  float: left;
  width: 74.5098039%;
  /* 608px / 816px */
  margin-left: 4px; }
