/* clear all browser rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  vertical-align: baseline; }

/* text */
/* end text */
body {
  font: 13px/18px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
  color: #222222;
  padding: 0;
  margin: 0;
  text-align: left;
  background: #2b2c34; }

h1 {
  font: 18px/24px "Liberation Sans", Arial, Helvetica, sans-serif;
  color: white; }

h2 {
  font: 18px/24px "Liberation Sans", Arial, Helvetica, sans-serif;
  color: #222222; }

/* layout */
#wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: #2b2c34; }

#header {
  width: 100%;
  margin-right: 0;
  padding: 20px 0;
  background: #2b2c34; }
  #header h1 {
    padding-left: 10px; }
    #header h1 a {
      font-size: 18px;
      line-height: 24px; }
    #header h1 a:link, #header h1 a:visited {
      color: white;
      text-decoration: none;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease; }
    #header h1 a:hover, #header h1 a:focus {
      color: #8B999A;
      text-decoration: none;
      backgound: #FFF; }

#nav_wrapper {
  background: #2b2c34;
  margin-right: 0; }

div#admin_nav ul {
  position: relative;
  display: block;
  list-type: none;
  height: 44px;
  padding: 0;
  margin: 0; }
  div#admin_nav ul li {
    display: inline;
    margin: 0;
    padding: 0; }
    div#admin_nav ul li a:link, div#admin_nav ul li a:visited {
      float: left;
      font-size: 14px;
      line-height: 14px;
      padding: 4px 10px;
      margin-right: 8px;
      text-decoration: none;
      color: white;
      text-decoration: none;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease;
      background: #40414f; }
    div#admin_nav ul li a:hover, div#admin_nav ul li a:focus {
      color: #fb5000;
      text-decoration: none;
      background: #40414f; }
    div#admin_nav ul li ul {
      display: none;
      height: 22px; }
  div#admin_nav ul li.selected {
    background: #FFF; }
    div#admin_nav ul li.selected a {
      color: #fbb950; }

body#layouts div#admin_nav li#layout a,
body#pages div#admin_nav li#pages a,
body#settings div#admin_nav li#settings a {
  background: #55566f; }

body#layouts div#admin_nav li#layout ul,
body#pages div#admin_nav li#pages ul,
body#settings div#admin_nav li#settings ul {
  display: block;
  width: 100%;
  position: absolute;
  top: 22px;
  left: 0px;
  margin: 0;
  background: #55566f; }

div#content {
  min-height: 400px;
  background: white;
  padding: 10px; }

div#page_list_heading {
  position: relative;
  width: 100%; }
  div#page_list_heading ul#new_layout {
    display: block;
    list-style: none;
    position: absolute;
    right: 20px;
    top: 6px; }

div#pages_list {
  margin-top: 10px;
  width: 100%; }
  div#pages_list ul#pages {
    display: block;
    list-style: none;
    width: 100%; }
    div#pages_list ul#pages li {
      position: relative;
      padding: 5px 0 0 10px;
      margin-bottom: 5px; }
      div#pages_list ul#pages li strong {
        display: block;
        height: 26px;
        background: #989898; }
      div#pages_list ul#pages li div {
        color: white;
        position: absolute;
        right: 70px;
        top: 10px; }
        div#pages_list ul#pages li div div {
          position: absolute;
          right: -60px;
          top: -3px; }
      div#pages_list ul#pages li a:link, div#pages_list ul#pages li a:visited {
        font-size: 14px;
        line-height: 26px;
        padding: 4px 10px;
        margin-right: 8px;
        text-decoration: none;
        color: white;
        text-decoration: none;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease; }
      div#pages_list ul#pages li a:hover, div#pages_list ul#pages li a:focus {
        color: #fb5000;
        text-decoration: none; }
    div#pages_list ul#pages li#root_node {
      padding-left: 0; }

div#footer {
  margin-right: 0; }
