/* for zebra stripes */
.odd {
  background: #eaeaea; }

.even {
  background: #f9f8f3; }

/* table for users index page */
table.info {
  width: 100%;
  border-collapse: collapse; }
  table.info th {
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #f9f8f3;
    background: #d5d4d4; }
  table.info th:first-child {
    padding-left: 4px; }
  table.info th:last-child {
    border-right: 0;
    background: #f9f8f3; }
  table.info td {
    text-align: center;
    padding: 8px 0; }
  table.info td.name {
    text-align: left;
    padding-left: 8px; }

table.users .name {
  width: 35%; }
table.users .puid {
  text-align: center;
  width: 27%; }
table.users .role {
  width: 22%; }
table.users .delete {
  width: 16%; }

table.layouts {
  width: 70%; }
