#welcome
  %ul
    %li Welcome, #{link_to @current_user.full_name, edit_admin_user_path(@current_user)}
    %li | #{link_to "View Site", cms_html_path, :target => "_blank"}
    %li | #{link_to "log out", logout_path}

