- header_content 'shared/header_wrapper', :object => :AssetCollection do
  = can_create? AssetCollection

- inner_content "shared/inner_wrapper" do

  = list_objects @asset_collections, :message => 'Add A Collection', :link => :asset_collection 
