- if target.errors.any?
  #error_explanation
    %h3 #{pluralize(target.errors.count, "error")} prohibited this record from being saved
    %ul
    - target.errors.full_messages.each do |msg|
      %li= msg
