- header_content 'shared/header_wrapper', :object => @tag_attr do
  = can_destroy? @tag_attr

- inner_content "shared/inner_wrapper" do
  = render :partial => "form",  
           :locals => { :button_label => "Update Element Attribute" }
