- header_content 'shared/header_wrapper', :object => :Page do
  = can_create? Page

- inner_content "shared/inner_wrapper" do
  %div.spinner_wrapper
    = image_tag 'ajax-loader.gif', :class => 'spinner hidden'

  - if @root_pages.empty?
    = render :partial => 'add_a_page'
  - else 
    #pages_list
      = render_pages @root_pages 

