%ul{:class => "nav-#{page.title.downcase.gsub(/\s/, '_')}"}
  - page.siblings_and_self.each do |sibling|
    - if page.published?
      %li 
        = link_to sibling.title, sibling.full_path, {:class => "nav nav-#{sibling.title.downcase.gsub(/\s/, '_')}" } 
