%li#theme_asset_tag_attrs_fields
  = foldable_fieldset 'Asset Attributes' do
    %div.fields_wrap
      %ol{ :id => 'page_tag_attrs', :class => 'form_fields' }
        = add_tag_attrs 'Save theme asset first to add custom element attributes', form_tag_attrs
