= render :partial => 'new_theme_asset', :object => f, :locals => { :theme_asset => @theme_asset }
- unless @theme_asset.new_record?
  = render :partial => 'edit_asset'
  = render :partial => 'form_custom_fields', :locals => { :f => f }
= render :partial => 'form_submit', :locals => { :f => f, :button_label => button_label }

