#theme_asset_attr{:class => "foldable"}
  %fieldset
    %legend Asset Attributes<span class="fold_arrow rotate"></span>
    %ul.form_fields
      %li#add_element_attribute
        = add_tag_attr 'Save theme asset first to add custom element attributes', tag_attr
