- if @theme_asset.new_record?
  = render :partial => 'new_theme_asset', :object => f, :locals => { :theme_asset => @theme_asset }
- elsif theme_asset_is_image?
  = render :partial => 'image_asset', :object => f, :locals => { :theme_asset => @theme_asset }
- elsif theme_asset_is_js_or_css
  = render :partial => 'css_js_asset', :object => f, :locals => { :theme_asset => @theme_asset }     
  = render :partial => 'tag_attrs', :object => f
