- ('A'..'Z').to_a.each do |letter|
  - if letter.downcase == slug.downcase
    %b= letter 
    - unless letter == 'Z'
      | 
  - else 
    %a{:href => "http://handlebar-cms.dev/faculty/#{letter.downcase}"} #{letter} 
    - unless letter == 'Z'
      | 

