
@import "settings";
@import "mixins";

/* clear all browser rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height:  1;
	font-family: inherit;
	vertical-align: baseline;
}


body {
	font: $base_text;
	color: $dark_text;
	padding: 0; 
	margin: 0; 
	text-align: left;
	background: $background_color; 
}

h1 {
  font: 18px/24px "Liberation Sans", Arial, Helvetica, sans-serif;
  color: $light_text; 
}

h2 {
	font: 18px/24px "Liberation Sans", Arial, Helvetica, sans-serif;
	color: $dark_text;
}

/* layout */
#wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: $background_color;
}

#header {
  width: 100%;
  margin-right: 0;
  padding: 20px 0;
  background: $background_color;
  h1 {
    padding-left: 10px;
    @include light_text_links(18px, 24px);
  }
}

#nav_wrapper {
  background: $background_color;
  margin-right: 0;
}

div#admin_nav { 
  ul {
    position: relative;
    display: block;
    list-type: none;
	height: 44px;
	padding: 0;
	margin: 0;
    li {
      display: inline;
      margin: 0;
      padding: 0;
      a:link, a:visited {
        float: left;
        font-size: 14px;
        line-height: 14px;
        padding: 4px 10px;
        margin-right: 8px;
        text-decoration: none;
        color: $light_text;
        text-decoration: none;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
        background: $admin_nav_bg;
      }
      a:hover, a:focus {
        color: $hover_text; 
        text-decoration: none;
        background: $admin_nav_bg;
      }
      ul {
        display: none;
				height: 22px;
      }
    }
		li.selected {
			background: #FFF;
			a {
				color: $nav_selected;	
			}
		}
  }
}
body#layouts div#admin_nav li#layout a,
body#pages div#admin_nav li#pages a,
body#settings div#admin_nav li#settings a {
  background: $admin_nav_bg_selected;
}


body#layouts div#admin_nav li#layout ul,
body#pages div#admin_nav li#pages ul,
body#settings div#admin_nav li#settings ul {
  display: block;
  width: 100%;
  position: absolute;
  top: 22px;
  left: 0px;
  margin: 0;
  background: $admin_nav_bg_selected;
}


div#content {
  min-height: 400px;
  background: $light_bg_color;
	padding: 10px;
}

div#page_list_heading {
	position: relative;
	width: 100%;
	ul#new_layout {
		display: block;
		list-style: none;
		position: absolute;
		right: 20px;
		top: 6px;
	}
}

div#pages_list {
	margin-top: 10px;
	width: 100%;
	ul#pages {
		display: block;
		list-style: none;
		width: 100%;
		li {
			position: relative;
			padding: 5px 0 0 10px;
			margin-bottom: 5px;
			strong {
				display: block;
				height: 26px;
				background: $med_gray_bg_color;
			}
			div {
				color: $light_text;
				position: absolute;
				right: 20px;
				top: 10px;
			}
			a:link, a:visited {
			  font-size: 14px;
			  line-height: 26px;
			  padding: 4px 10px;
			  margin-right: 8px;
			  text-decoration: none;
			  color: $light_text;
			  text-decoration: none;
			  -webkit-transition: color 0.3s ease;
			  -moz-transition: color 0.3s ease;
			  -o-transition: color 0.3s ease;
			  transition: color 0.3s ease;
			}
			a:hover, a:focus {
			  color: $hover_text; 
			  text-decoration: none;
			}
		}
		li#root_node {
			padding-left: 0;
		}
	}
}


div#footer {
  margin-right: 0;
}


