/* colors */
$background_color: #2B2C34;
$light_bg_color: #FFF;
$med_gray_bg_color: #989898;
$admin_nav_bg: #40414F;
$admin_nav_bg_selected: #55566F;
$nav_selected: #FBB950;

/* text */
$dark_text: #222;
$light_text: #FFF;
$hover_text: #FB5000;
$base_text: 13px/18px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
/* end text */