%fieldset.form_submit
  %ul
    %li
      = f.submit button_label, :class => "submit"
      = f.submit "Save and Continue Editing", :class => "submit"
      = link_to "Cancel", [:admin, :snippets], :class => "cancel"
