- header_content 'shared/header_wrapper', :object => @snippet do
  = can_destroy? @snippet

- inner_content "shared/inner_wrapper" do
  = render :partial => "form",  
           :locals => { :snippet => @snippet, :button_label => "Update Snippet" }
