- header_content 'shared/header_wrapper', :object => :Snippet do
  = can_create? Snippet

- inner_content "shared/inner_wrapper" do

  = list_objects @snippets, :message => 'Add Some Snippets', :link => :snippet
    
