#snippets
  %ul
    %li#snippets_header
      %div Name
      %div Delete
  - @snippets.each do |snippet|
    %li{ :id => "#{snippet.name}"}
      %div= link_to snippet.name, [:edit, :admin, snippet]
      - if can? :destroy, snippet
        %div.delete= link_to "Delete", [:admin, snippet], :method => :delete, :confirm => "Are you sure you"

#add_snippet
- if admin?
  %ul
    %li= link_to "Add Snippet", [:new, :admin, :snippet]