- unless @current_site.domain_names.empty?
  %h5 The current site is also accessible from the following domains:
  %ul{:class => 'form_fields domains_list'} 
    - domains.each.with_index do |domain, index|
      %li
        = text_field_tag "site[domain_names][]", domain
      %li#add_domain
        = link_to "Add Domain Names", [:new_domain, :admin, @current_site], :remote => true
