/* error and flash messages */ 
$flash_color: #FFD324;
$error_ex_heading_color: darken(#d54e0e, 10%);
$error_ex_color: #777777;

div#flash_notice_wrapper {
  position: absolute;
  width: 65%;
  top: -10px;
  left: 14%;
  text-align: center;
	padding: 4px 0;
	border-top: 1px solid $flash_color;
	border-bottom: 1px solid $flash_color;
  background: #FFF6BF;
  p {
      font-size: #{(14px/$base_font_size) + em};
  }
}

div.field_with_errors {
  padding: 5px;
  background-color: $error_ex_color;
  display: table;
  @include rounded_corners_top_left_and_right;
  label {
    color: $light_text;
  }
}

div.field_with_errors + div.field_with_errors {
  @include rounded_corners_except_top_left;
}

div#error_explanation {
  width: 80%;
  border: 2px solid $error_ex_color;
  padding: 8px;
  margin-bottom: 16px;
  background-color: #f0f0f0;
  h3 {
    text-align: left;
    font-size: 1em; /* 14px */
    font-weight: bold;
    padding: 5px 1em 5px 1em;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $error_ex_heading_color;
    color: $light_text;
  }

  ul li {
    font-size: 1em; /* 14px */
    list-style-type: disc;
    padding: 2px 0;
    margin-left: 2em;
  }
  ul li:first-child {
    padding-top: 8px;
  }
}
