#floatingBarsG{
position:relative;
width:128px;
height:128px}

.blockG{
position:absolute;
background-color:#FFFFFF;
width:21px;
height:40px;
-moz-border-radius:17px 17px 0 0;
-webkit-border-radius:17px 17px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear}

#rotateG_01{
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
left:0;
top:47px;
-webkit-animation-delay:0.39s;
-moz-animation-delay:0.39s}

#rotateG_02{
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
left:17px;
top:17px;
-webkit-animation-delay:0.52s;
-moz-animation-delay:0.52s}

#rotateG_03{
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
left:54px;
top:5px;
-webkit-animation-delay:0.65s;
-moz-animation-delay:0.65s}

#rotateG_04{
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
right:17px;
top:17px;
-webkit-animation-delay:0.78s;
-moz-animation-delay:0.78s}

#rotateG_05{
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
right:0;
top:47px;
-webkit-animation-delay:0.9099999999999999s;
-moz-animation-delay:0.9099999999999999s}

#rotateG_06{
-webkit-transform:rotate(135deg);
-moz-transform:rotate(135deg);
right:17px;
bottom:12px;
-webkit-animation-delay:1.04s;
-moz-animation-delay:1.04s}

#rotateG_07{
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
bottom:0;
left:54px;
-webkit-animation-delay:1.1700000000000002s;
-moz-animation-delay:1.1700000000000002s}

#rotateG_08{
-webkit-transform:rotate(-135deg);
-moz-transform:rotate(-135deg);
left:17px;
bottom:12px;
-webkit-animation-delay:1.3s;
-moz-animation-delay:1.3s}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}
