/*
*= require_self
*/

@import "reset";
@import "colors_layout";
@import "mixin_links";
@import "tables";
@import "css_three";
@import "flash_and_error_messages";
@import "sass_func";

/* general rules */
body {
  font: $base_text;
  color: $dark_text;
  padding: 0;
  margin: 0;
  text-align: left;
  background: $body_bg image-url("body_bg.png") repeat-x left top;
}


a:link, a:visited, span.fake_link {
  color: $link_text; 
  text-decoration: none;
  @include horizontal_gradiant;
} 

a:hover, a:focus, span.fake_link:hover {
  cursor: pointer;
  color: $hover_text; 
  text-decoration: underline;
}  


h1 {
  font: bold 1.5em/1 $heading_font; /* 24px / 16px */
  font-variant:small-caps;
  color: $dark_text;
}

h2 {
  font-variant:small-caps;
  font: normal 1.125em/1.25 $heading_font; /* 18px / 16px */
  color: $dark_text;
}

h3, h4, h5 {
  font: normal 1.125em/1.25 $heading_font; /* 18px / 16px */
  color: $dark_text;
}

/* rounded button links with gradient */
a:link.action, a:visited.action {
  color: $light_text;
  @include rounded_corners;
  text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8);
  padding: 4px 20px;
  border: 1px solid rgba(92, 92, 92, 0.5);
  background: #535252;
  background: -moz-linear-gradient(0% 49% 90deg, rgba(44, 44, 44, 1), rgba(44, 44, 44, 1), rgba(44, 44, 44, 0.8) 0%);
  background: -webkit-gradient(linear, 0% 49%, 0% 51%, from(rgba(44, 44, 44, 0.8)), to(rgba(44, 44, 44, 1)));
}

a:hover.action, a:focus.action {
  text-decoration: none;
  background: lighten(#000, 10%)
}

ul li {
  list-style: none;
}

img, embed, object, video { max-width: 100%; }

.hidden { display: none; }

/* end general rules */


/* Layout */

//  960px for total page width
//  816px for content area
//  12 column grid with 60px wide columns and 8px padding
//  admin_nav column = 204px
//  content column = 612px

#wrapper {
  margin: 0 auto;
  width: percentage($container_width / $page_width);
}

#header {
  width: 100%;
  background: $header_bg;
  height: $header_height;
  h1 {
    float: left;
    @include light_text_links(calc_em(20px, $base_font_size), 1.5); 
    letter-spacing: .15em;
  }
}

#main {
  min-height: $body_min_height;
  width: 100%;
  background: $content_bg;
  overflow: hidden;
}


div#footer {
  height: $footer_height;
  background: $footer_bg;
}


div#welcome {
  float: right;
  padding-top: 1.25em;
  padding-right: 8px;
  ul {
    list-style: none;
    display: inline;
    li {
      color: $light_text;
      font-size: calc_em(12px, $base_font_size); 
      line-height: 1;
      text-decoration: none;
      display: inline;
    }      
  }
}


div#nav {
  float: left;
  width: percentage(($nav_section_width - 16px)/$container_width); // 188 / 816 + margin-right = 204px */
  margin-right: 16px;
  margin-top: 20px;
  ul {
    padding-right: 0px;
    text-align: left;

    li {
      border-top: 1px solid $sidebar_border;
      -webkit-transition: background .2s linear;
      -moz-transition: background .2s linear;
      -o-transition: background .2s linear;
      transition: background .2s linear;
      a:link, a:visited {
        display: block;
        color: $nav_text;
        font: $base_text;
        font-size: 1em; /* 16px */
        line-height: 1.75;
        text-decoration: none;
        padding-left: percentage(8px / $nav_section_width);
      }
			a:hover, a:focus {
			  color: $hover_text; 
			  text-decoration: none;
        background: $page_index_published;
			}
    }
    li:first-child {
      border: 0;
      border-bottom: 1px solid $sidebar_border; 
      padding: 4px 0 4px 8px;
      margin-bottom: 2px;
      color: $dark_text;
    }
    li:last-child {
      border-bottom: 1px solid $sidebar_border; 
    }
  }
}


body.pages li#pages, 
body.articles li#articles,
body.authors li#authors,
body.site_assets li#site_assets, 
body.snippets li#snippets, 
body.layouts li#layouts,
body.theme_assets li#theme_assets,
body.users li#users,
body.current_site li#site {
  a:link, a:visited {
    color: $light_text;
    background: rgba(44,44,44, 0.8);
  }
  a:hover, a:focus {
    color: $light_text;
    background: rgba(44,44,44, 0.8);
  }
}

div#content {
  position: relative;
  min-height: $body_min_height; 
  float: left;
  width: percentage(($content_section_width - 16px) / $container_width);
  margin: 1em 0; 
  padding-left: 16px;
  background: $content_bg image-url("content_bg.png") repeat-y 0 0;
}

div#content_header_wrapper {
  border-bottom: 1px solid $sidebar_border;
  padding: 8px 0px 4px 8px;
  position: relative;
  height: 1.4em;
  h2 {
    float: left;
  }
  div.create, div.delete, div.actions {
    text-align: center;
    font-size: calc_em(14px, $base_font_size);
    float: right;
  }
}

div#content_inner_wrapper {
  font-size: calc_em(14px, $base_font_size);
  margin-top: 2px;
  border-top: 1px solid $sidebar_border;
  padding-top: 16px;
}

.breadcrumb {
  padding-bottom: 2em;
  text-align: center;
  a:first-child {
    float: left;
  }
  a.view_page:link, a.view_page:visited {
    @extend  .action;
    margin: 0 1em;
  }
}

.view {
  text-align: center;
  margin: 1em 0;
  a.view_page:link, a.view_page:visited {
    @extend  .action;
    margin: 0 1em;
  }
}

a:hover.action, a:focus.action {
  text-decoration: none;
  background: lighten(#000, 10%)
}

p.info {
  margin-bottom: 1em;
}

ul.submenu {
  list-style: none;
  position: absolute;
  right: 0;
  z-index: 222;
  line-height: 1.5;
  li {
    float: left;
    position: relative;
    width: 14em;
    ul {
      padding: 5px 0;
      position: absolute;
      top: 1.4em;
      display: none;
    }
    a:link, a:active, a:visited {
      display: block;
      padding: 5px 5px;
      border: 1px solid $sidebar_border;
      text-decoration: none;
      background-color: #2C2C2C;
    }
    a:hover {
      background-color: #2B2C2C;
      color: $hover_text;
    } 
  }
  li:hover ul { 
    display: block; 
  }
  li.top_menu {
    color: $light_text;
    @include rounded_corners;
    text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8);
    padding: 4px 20px;
    border: 1px solid rgba(92, 92, 92, 0.5);
    background: #535252;
    background: -moz-linear-gradient(0% 49% 90deg, rgba(44, 44, 44, 1), rgba(44, 44, 44, 1), rgba(44, 44, 44, 0.8) 0%);
    background: -webkit-gradient(linear, 0% 49%, 0% 51%, from(rgba(44, 44, 44, 0.8)), to(rgba(44, 44, 44, 1)));
  }
}

/* forms */

form.site_prop {
  fieldset {
    margin-bottom: 8px;
    label {
      display: block;
      margin-left: calc_em(4px, 14px);
      margin-bottom: calc_em(3px, 14px);
      font-weight: bold;
    }
    input {
      font-size: calc_em(12px, 14px);
      width: 30%;
    }
    input {
      border: none;
      border-right: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      padding: 4px 8px;
      @include rounded_corners;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#969696), to(#E2E1DF));
      background-image: -moz-linear-gradient(0% 12% 90deg, #E2E1DF, #969696);
      background-color: #E2E1DF;
    }
    textarea {
      border: none;
      border-right: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      padding: 4px 8px;
      @include rounded_corners;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 5%, from(#969696), to(#E2E1DF));
      background-image: -moz-linear-gradient(0% 5% 90deg, #E2E1DF, #969696);
      background-color: #E2E1DF;
    }
    input:focus, textarea:focus {
      border-right: 1px solid #F2EFEF;
      border-bottom: 1px solid #F2EFEF;
      background: #FFF6BF;
    }
    input[type='checkbox'] {
      width: auto;
    }
  }
  ul.form_fields, ol.form_fields {
    clear: both;
    list-style: none;
    padding-left: 0.5em;
    li {
      list-style: none;
      padding-bottom: 8px;
      input[type="radio"]  {
        display: inline;
      }
      p {
        font-size: calc_em(12px, 14px);
        line-height: 1.25;
        padding-left:  calc_em(4px, 14px);
        margin-top: 1em;
        margin-bottom: 0.3em;
        width: 100%;
      }
      p.label_for {
        font-size: 1em;
        font-style: normal;
        font-weight: bold;

      }
    }
    .inline {
      label {
        display: inline;
      }
      input { 
        width: auto;
      }
    } 
    li:first-child {
      padding-top: 8px;
    }

    div.markItUpHeader li:first-child {
      padding-top: 0;
    }
    li:last-child {
      padding-bottom: 0;
    }
    li.editor_field {
      float: left;
      padding-top: 8px;
    }
  }
  #article_img_url {
    width: 60%;
  }
  .fields_wrap {
    padding: 0.5em 8px;
  }
  .submit, .file_field {
    font-size: 1em;
    color: $light_text;
    @include rounded_corners;
    text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8);
    padding: 4px 20px;
    border: 1px solid rgba(92, 92, 92, 0.5);
    background: -moz-linear-gradient(0% 49% 90deg, rgba(44, 44, 44, 1), rgba(44, 44, 44, 1), rgba(44, 44, 44, 0.8) 0%);
    background: -webkit-gradient(linear, 0% 49%, 0% 51%, from(rgba(44, 44, 44, 0.8)), to(rgba(44, 44, 44, 1)));
    cursor:pointer;
  }
  .submit:hover {
    background: lighten(#000, 10%);
  }
  .cancel {
    font-size: 1em;
    text-decoration: underline;
    margin-left: 0.5em;
  }
  .foldable, .grouping {
    padding-bottom: 4px;
    margin-bottom: 8px;
    @include rounded_corners;
    background-color: $foldable_bg;
    legend {
      padding: 4px 0px;
      text-indent: 8px;
      @include rounded_corners_top_left_and_right;
      color: $light_text;
      width: 100%;
      background: $foldable_header;
    }
  }
  .foldable legend:hover {
    cursor: pointer;
  }
  .page_parts {
    background: $foldable_bg image-url("form_legend_bg.png") repeat-x left top;
  }
}

div#page_parts_content_wrapper { width: 100%; }

.img_thumb {
  width: 15%;
}

img.site_asset_thumb, img.theme_asset_thumb {
  display: block;
  margin-bottom: 8px;
  border: 1px solid $sidebar_border;
  
}

img.site_asset_thumb:hover, img.theme_asset_thumb {
  border: 1px solid $hover_text;
}

span.fold_arrow {
  display: inline-block;
  width: 9px;
  height: 6px;
  position: relative;
  left: calc_em(10px, 14px);
  bottom: 1px;
  background: transparent image-url("hs.png") no-repeat -6px 0
}

span.rotate-ccw {
  @extend span.fold_arrow;
  background-position: 0 0;
  height: 9px;
  width: 6px;
}

div#pages_list {
	width: 100%;
}

ol.pages {
  display: block;
  list-style: none;
  width: 100%;
  li {
    position: relative;
    padding-top: 0.5em;
    margin-left: 1em;
    .page_fold_arrow {
      position: absolute;
      left: -1em;
      height: 28px;
      width: 8px;
      cursor: pointer;
      background: transparent image-url("hs.png") no-repeat -16px 0;
    }
    .page_fold_arrow_ccw {
      @extend .page_fold_arrow;
      left: -1.5em;
      background-position: -25px 0;
      width: 13px;
    }
    .add_child_page {
      text-indent: -9999px;
      height: 16px;
      width: 16px;
      margin: 0 0.5em;
      cursor: pointer;
      background: transparent image-url("hs.png") no-repeat -16px -30px;
    }
    .delete_page {
      text-indent: -9999px;
      height: 16px;
      width: 16px;
      cursor: pointer;
      background: transparent image-url("hs.png") no-repeat 0 -30px;
    }
    em.sortable_list {
      height: 28px;
      width: 20px;
      float: left;
      cursor: move;
      background: transparent image-url("hs.png") no-repeat -40px 0;
    }
    em.draft {
      background: transparent image-url("hs.png") no-repeat -65px 0;
    }
    strong {
      display: block;
      height: 2em;
      line-height: 2em;
      padding-left: 5px;
      @include rounded_corners;
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);  
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      text-shadow: 0 1px 0 lighten($link_text, 80%);
      a:link, a:visited {
        font-size: 14px;
        line-height: 26px;
        padding: 4px 10px;
        margin-right: 8px;
        text-decoration: none;
        color: $link_text;
        text-decoration: none;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
      }
      a:hover, a:focus {
        color: $hover_text; 
        text-decoration: none;
      }
    }
    strong.published {
      border-top: 1px solid #D2D1D0;
      background: $page_index_published;
    }
    strong.draft {
      border-top: 1px solid #CBBCAF;
      background: $page_index_draft;
    }
    strong.home_page {
      border-left: 1px solid #D2D1D0;
    }
    .page_info {
      color: $med_text;
      position: absolute;
      right: 20px;
      top: 1.25em;
      font-size: calc_em(12px, 14px);
      span {
        line-height: 1;
        vertical-align: top;
        text-shadow: 0 1px 0 lighten($med_text, 60%);
      }
      a {
        display: inline-block;
      }
    }
  }
  li#home_page {
    margin-left: 0;
  }
}

/* fold-arrow */

ol#page_parts_nav {
  height: 25px;
  list-style: none;
  li {
    float: left;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: calc_em(5px, 14px) calc_em(5px, 14px); 
    cursor:pointer;
  }
  li.add_page_part, li.delete_page_part {
    padding-right: 0;
    margin-right: 5px;
    float: right;
    p {
      margin: 0;
    }
  }
  a:link, a:visited {
    text-decoration: none;
    color: lighten($link_text, 40%);
  }
  a:hover, a:focus {
    color: $hover_text;
    text-decoration: none;
  }
  .tab:first-child {
    margin-left: 5px;
  }
  .selected {
    background: $foldable_bg;
    @include rounded_corners_top_left_and_right;
    border-top: 1px solid $foldable_header_selected;
    border-left: 1px solid $foldable_header_selected;
    border-right: 1px solid $foldable_header_selected;
    a:link, a:visited {
      color: $link_text;
    }
  }
  .menu_separator {
    color: $foldable_header;
  }
}

ul#assets {
  overflow: auto;
  li {
    float: left;
    padding: 1em; 
    margin: 16px;
    border: 1px solid $sidebar_border;
    @include rounded_corners;
    background: #FDFCFA;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);  
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    a:hover {
      text-decoration: none;
    }
    img {
      border: 1px solid $sidebar_border;
    }
    img:hover {
      border: 1px solid $hover_text;
    }
  }
  li.show_site_asset {
    text-align: center;
    padding-bottom: 1.5em;
    width: percentage(75px / $content_section_width);
  }
  div.figcaption {
    overflow: hidden;
    font-size: 0.785714286em;
    text-align: center;
    font-weight: normal;
    padding-top: 2px; 
  } 
}

div.theme_assets {
  margin: 1em 0;
} 

div.add_some {
  h4 {
    font-size: calc_em(42px, 14px);
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    a:hover {
      text-decoration: none;
    }
  }
}

.spinner_wrapper {
  position: relative;
}

.spinner {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 20px;
  margin-top: 10px;
  background: rgba(0,0,0,0.8);
  @include rounded_corners;
}


/* markdown editor */
div.markItUp {
  width: 90%;
  textarea {
    width: 98%;
  }
}

/* ace editor */
.content {
  position: relative;
  margin-right: 1.5em;
  padding-top: 0.5em;
  background: darken(#FFF, 5%) !important;
  border: 1px solid lighten($sidebar_border, 10%);
  @include rounded_corners;
  padding-bottom: 0 !important;
  margin-bottom: 1em !important;
}
  p.ace_label {
    float: left;
    width: 30% !important;
    margin-bottom: 0.5em !important;
  }

.line_wrap {
  float: right;
  margin-top: 1em !important;
  margin-bottom: 0.5em;
  margin-right: calc_em(8px, 14px);
}

#line_wrap_mode {
  p.mode {
    display: inline;
  }
  .line_wrap {
    float: none;
  }
}

#asset_content, #article_content, #article_subheading_content {
    margin: 0;
    position: relative !important;
    height: calc_em(500px, 12px);
    width: 100%;
    top: 0;
    left: 0;
}

.page_part_content {
  @extend #asset_content;
}

#article_subheading_content {
  @extend #snippet_content;
  height: calc_em(150px, 12px);
}

.ace_gutter{
  min-width: calc_em(50px, 12px) !important;
  border-top: 1px solid lighten($sidebar_border, 10%);
  background: darken(#FFF, 15%) !important;
}

.ace_gutter-cell {
  //text-align: left !important;
  padding-left: 1em !important;
  color: $med_text !important;
}

ul.doc {
  float: right;
  display: inline;
  margin-right: 5px;
  margin-top: 1em;
  li { 
    display: inline-block; 
    margin: 0;
    padding: 0 !important;
  }
}
