%ul.form_fields
  %li 
    = f.label :name, "Name<abbr title='required' class='required'>*</abbr>".html_safe
    = f.text_field :name
  %li 
    = f.label :content, "Content<abbr title='required' class='required'>*</abbr>".html_safe
    = f.text_area :content, :class => "code"

