#content_header_wrapper
  %h2 Editing Layout <b>#{@layout.name.humanize}</b>

  - if can?(:destroy, @layout) && !@layout.new_record?
    %div{:id => "delete_layout", :class => "delete"}
      = link_to "Delete Layout", [:admin, @layout], :confirm => "Are you sure you want to delete the layout #{@layout.name}", :method => :delete, :class => "action delete"

= render :partial => "form",  
         :locals => { :layout => @layout, :button_label => "Update Layout" }
