- header_content 'shared/header_wrapper', :object => @layout do
  = can_destroy? @layout

- inner_content "shared/inner_wrapper" do
  = render :partial => "form",  
           :locals => { :layout => @layout, :button_label => "Update Layout" }
