- header_content 'shared/header_wrapper', :object => :Layout do
  = can_create? Layout

- inner_content "shared/inner_wrapper" do
  = list_objects @layouts, :message => 'Add A Layout', :link => :layout
