- header_content 'shared/header_wrapper', :object => @layout

- inner_content "shared/inner_wrapper" do

  = render :partial => "form",  
           :locals => { :layout => @layout, :button_label => "Create Layout" }
