#content_header_wrapper
  %h2 Add New Layout

- inner_content "shared/inner_wrapper" do

  = render :partial => "form",  
           :locals => { :layout => @layout, :button_label => "Create Layout" }
