#content_header_wrapper
  %h2 Add New Layout

#content_header_wrapper
  = render :partial => "shared/flash_notice"

  = render :partial => "form",  
           :locals => { :layout => @layout, :button_label => "Create Layout" }
