= render :partial => "shared/flash_notice"
#content_header_wrapper
  %h2!= "Editing Password for User <b>#{@user.full_name}</b>"

- inner_content "shared/inner_wrapper" do
  = render :partial => "password_form", :locals => { :button_label => "Change Password" }
           
