- header_content 'shared/header_wrapper', :object => :User do
  = can_create? User

- inner_content "shared/inner_wrapper" do

  = list_objects @users, :message => 'Add Some Users', :link => :user
    
