- unless @current_site.domain_names.empty?
  %p The current site is also accessible from the following domains:
  %ol{:class => 'form_fields domains_list'} 
    - @current_site.domain_names.each.with_index do |domain, index|
      = can_manage_domain?(domain, index)  
    %li#add_domain
      = link_to "Add Domain Name", [:new, :admin, @current_site, :domain_name], :remote => true
