- header_content 'shared/header_wrapper', :object => @site_asset

- inner_content "shared/inner_wrapper" do
  %div.breadcrumb
    = link_to "&laquo; #{@asset_collection.name.titleize} Collection".html_safe, [:admin, @asset_collection]

  = render :partial => "form",  
           :locals => { :button_label => "Save Asset" }
