%ul{:class => "nav_#{parent_page.title.downcase.gsub(/\s/, '_')}"}
  - parent_page.children.each do |page|
    %li 
      = link_to page.title, page_full_path_with_request(request, page), {:id => page.title.downcase.gsub(/\s/, '_') } 
