- header_content 'shared/header_wrapper', :object => @layout do
  = can_destroy? @layout

- inner_content 'shared/inner_wrapper' do
  %div.breadcrumb
    = link_to "&laquo; Layouts".html_safe, [:admin, :layouts]

  = render :partial => 'form',  
           :locals => { :button_label => 'Update Layout' }
