%fieldset.form_submit
  %ul 
    %li
      = link_to "return to asset collection", [:admin, @asset_collection ], :class => "cancel"
      = link_to "reset form", [:new, :admin, @asset_collection, :site_asset ], :class => "cancel"
