= form_for([:admin, @asset_collection, @site_asset], :html => {:class => "site_prop", :multipart => true, :autocomplete => "off"}) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => @site_asset }
  = render :partial => 'form_general_fields', :locals => { :f => f, :button_label => button_label }
