= new_site_asset.label :asset, "Asset Source<abbr title='required' class='required'>*</abbr>".html_safe
= new_site_asset.file_field :asset, :class => "file_field"
= new_site_asset.hidden_field :asset_cache
