#edit_site_asset
  %h3 Edit Asset #{@site_asset.name.humanize}
  = render :partial => "form",
           :locals => { :current_site => @current_site, :asset_collection => @asset_collection, :site_asset => @site_asset, :button_label => "Update Asset" }