- header_content 'shared/header_wrapper', :object => @site_asset do
  = can_destroy? @site_asset

- inner_content "shared/inner_wrapper" do
  = render :partial => "form",
           :locals => { :current_site => @current_site, :asset_collection => @asset_collection, :site_asset => @site_asset, :button_label => "Update Asset" }
