- header_content 'shared/header_wrapper', :object => @site_asset

- inner_content "shared/inner_wrapper" do
  = render :partial => "form",  
           :locals => { :asset_collection => @asset_collection, :site_asset => @site_asset, :button_label => "Save Asset" }
